/*
  BEM 框架：类名取名规范
  全局使用：需要在 vite 配置文件中配置；
*/

// 定义变量
// 统一类名前缀 'wls-' ;
// fefault 表示如果这个变量没有被其他地方赋值，就使用 'wls' 这个默认值；
$namespace: 'wls' !default;
// b-用单横线连接表示一个块-block；
$block-sel: '-' !default;
// e-用双下划线连接的表示块里面的元素-element；
$elem-sel: '__' !default;
// m-用双横线连接表示对元素的修饰-modify；
$mod-sel: '--' !default;


// 使用示例：
// <div class="wls-aaa"></div>
// <div class="wls-aaa__bbb"></div>

// 混入 - 块级类名，例如：'wls-aaa'
// $block 是传参，表示示例中的 aaa；
// @content 相当于一个占位符，通过 $B 命中类名后，将文件内该类名下定义的样式回填给@content
@mixin b($block) {
  $B: #{$namespace + $block-sel + $block};
  .#{$B} {
    @content;
  }
}

// 混入 - 元素级类名，例如 'wls-aaa__bbb'
// 在scss中可以通过 & 来获取父级类名，并用 $selector 变量来定义父级类名 'wls-aaa';
// $el 是传参，表示示例中的 bbb
@mixin e($el) {
  $selector: &; // & 获取父级类名，并定义变量$selector来接收
  // 写法一：编译后前面会多一个上父级class类名，样式编译后：：.wls-aaa .wls-aaa__bbb { xxx }
  // #{$selector + $elem-sel + $el} {
  //   @content;
  // }
  // 写法二：跳出父级类名，样式编译后：.wls-aaa__bbb { xxx }
  // @at-root 是scss语法
  @at-root {
    #{$selector + $elem-sel + $el} {
      @content;
    }
  }
}


// 混入 - 修饰级类名，例如：'wls-aaa__bbb--ccc'
@mixin m($m) {
  $selector: &;
  @at-root {
    #{$selector + $mod-sel + $m} {
      @content;
    }
  }
}

// 混入 - 普通的类名+样式，全局引用生效，不用传参的普通样式（相当于样式抽离到这里）
@mixin bfc {
  border: 1px solid #000;
  padding: 6px;
  margin-top: 20px;
}